# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Generated version file (from hatch-vcs)
src/openconnect_sso/_version.py

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Testing / coverage
.coverage
.coverage.*
.pytest_cache/
htmlcov/
coverage.xml

# Environments
.env
.venv/

# Tools
.mypy_cache/
.ruff_cache/
.uv/

# IDE
.vscode/

# Jupyter
.ipynb_checkpoints/

# pre-commit
.pre-commit-cache
